html, body {
    margin: 0;
}

.receipt {
    width: 500px;
    border: 1px dashed #BABABA;
    margin: 5px;
    padding: 5px 10px;
}

.receipt .header {
    margin: 0 auto;
    text-align: center;
    font-size: x-small;
}

.receipt .header b {
    font-size: small;
}

.dateandreceiptno {
    position: relative;
    height: 30px;
}

.dateandreceiptno .date {
    position: absolute;
    left: 0;
}

.dateandreceiptno .receiptno {
    position: absolute;
    right: 0;
}

.nofloat {
    clear: both;
}

.underline {
    text-decoration: underline;
    font-style: italic;
}
.print{
    position: fixed;
    bottom: 20px;
    right:100px;
}
.print a:link,.print a:visited{
    text-decoration: none;
    color: #FFF;
    display: block;
    background: #BA3315;
    padding: 10px 15px;
}
@media print {
    .break {
        page-break-after: always;
    }
    .print{
        display: none;
    }
    .receipt{
        float: left;
    }
}